 I am {{name|uppercase}} <!-- // uppercasepipes -->
 <input type="text" [(ngModel)]="name" /> <br>
 <app-parent></app-parent><br>



 
 <br>
 {{25|currency:" INR ":"code"}}
 <br/>
 {{date}}
<br>
 {{date|date:"shortDate"}}
<br>
{{5.678|number:"2.1-2"}}
<br>
{{5.678|number:"2.1-4"}}


<div *ngIf="displayName; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
   <div style="color: forestgreen">Welcome IF</div>
</ng-template>
<ng-template #elseBlock>
   <div style="color: aquamarine">Welcome Else</div>
</ng-template>

<div [ngSwitch]="color">
   <div *ngSwitchCase="'red'">
      <h2 style="color: red">Red Color</h2>
   </div>
   <div *ngSwitchCase="'blue'">
      <h2 [style.color]="color">Blue Color</h2>
   </div>
   <div *ngSwitchCase="'green'">
      <h2 style="color: green">Red Color</h2>
   </div>
   <div *ngSwitchDefault>
      <h2>Choose a Color</h2>
   </div>
</div>

<div *ngFor="let item of colors">
   <div [style.color]="item">{{item}}</div>
</div>



 <!-- <div>
    <input type="text" value="" id="{{myid}}"/>
    
    <input type="text" value="Abii" [disabled]="isdisabled"/>

    <h2 class="success">Hello</h2>
    <h2 [class] = "successs">Good</h2>
    /*property binding/* 
    <h2 [ngClass] = "msgclass">Hi</h2>
 </div>

 <div>
    <h2 style="color: purple;">Hello</h2>
    <h2 [style.color]="mystyle">Good</h2>
    <h2 [ngStyle] = "dstyle">Vanakkam</h2>

 </div>
 <input type="submit" value="Click Me!" (click)="sayByeBye()"/> -->